<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="constr" connectionString="Driver={Microsoft Access Driver (*.mdb)}; DBQ=.\Database.accdb; Exclusive=1; Uid=gsw; Pwd=gsw;"/>
  </connectionStrings>
</configuration>