@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        textarea {
            width: 100%;
            height: 100%;
            padding: 0px;
            border: none;
            margin-bottom: -4px;
            /*margin-top: -9px;
            margin-bottom: -14px;
            margin-left:-8px;
            margin-right:-20px;*/
        }

        table {
            padding: 0px;
            width: 100%;
            font-size: 18px;
        }

        .mytd {
            padding: 8px;
        }
    </style>
</head>
<body>
    <form id="mainform" action="/" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center;margin:auto 10px;">
                    <h1>
                        参加者記入欄
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="" border="1" bordercolor="black">
                        <tr>
                            <td style="width:30%" class="mytd">
                                団体名または法人名または店舗名
                            </td>
                            <td>
                                <textarea name="companyname" id="companyname" rows="5" placeholder="ここに記入してください"></textarea>
                                <span style="color:red" id="companyname_span"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="mytd">
                                業種
                            </td>
                            <td>
                                <textarea name="companytype" id="companytype" rows="4" placeholder="ここに記入してください"></textarea>
                                <span style="color:red" id="companytype_span"></span>

                            </td>
                        </tr>
                        <tr>
                            <td class="mytd">
                                代表者様名

                            </td>
                            <td>
                                <textarea name="principal" id="principal" rows="1" placeholder="ここに記入してください"></textarea>
                                <span style="color:red" id="principal_span"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="mytd">
                                ご住所

                            </td>
                            <td>
                                <textarea name="address" id="address" rows="4" placeholder="ここに記入してください"></textarea>
                                <span style="color:red" id="address_span"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="mytd">
                                お電話番号

                            </td>
                            <td>
                                <textarea name="tel" id="tel" rows="1" placeholder="ここに記入してください"></textarea>
                                <span style="color:red" id="tel_span"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="mytd">
                                参加者お名前

                            </td>
                            <td>
                                <textarea name="conferee" id="conferee" rows="4" placeholder="ここに記入してください"></textarea>
                                <span style="color:red" id="conferee_span"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="mytd">
                                参加者様人数
                            </td>
                            <td>
                                <textarea name="attendance" id="attendance" rows="2" placeholder="ここに記入してください"></textarea>
                                <span style="color:red" id="attendance_span"></span>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span style="font-size:16px;font-weight:bold;">ご参加は、１団体につき、２名までとさせていただきます。</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10" style="text-align:right;margin-top:5px;font-size:20px;">
                    @Html.Raw(ViewBag.Message)
                </div>
                <div class="col-md-2" style="text-align:right;margin-top:10px;margin-bottom:10px;">
                    <button class="btn btn-success btn-lg" onclick="sava()" type="button" style="width:100px;">提交</button>
                </div>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        function sava() {
            var result = true;
            var message = "空欄がないように記入してください";
            if ($("#companyname").val().trim() == "") {
                $("#companyname_span").html(message);
                result = false;
            } else {
                $("#companyname_span").html("");
            }
            if ($("#companytype").val().trim() == "") {
                $("#companytype_span").html(message);
                result = false;
            } else {
                $("#companytype_span").html("");
            }
            if ($("#principal").val().trim() == "") {
                $("#principal_span").html(message);
                result = false;
            } else {
                $("#principal_span").html("");
            }
            if ($("#address").val().trim() == "") {
                $("#address_span").html(message);
                result = false;
            } else {
                $("#address_span").html("");
            }
            if ($("#tel").val().trim() == "") {
                $("#tel_span").html(message);
                result = false;
            } else {
                $("#tel_span").html("");
            }
            if ($("#conferee").val().trim() == "") {
                $("#conferee_span").html(message);
                result = false;
            } else {
                $("#conferee_span").html("");
            }
            if ($("#attendance").val().trim() == "") {
                $("#attendance_span").html(message);
                result = false;
            } else {
                $("#attendance_span").html("");
            }
            if (result) {
                $("#mainform").submit();
            }
        }
    </script>
</body>
</html>
