<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlconnectionstring" connectionString="server=.;database=StarPay;uid=sa;pwd=sa;"/>
    <add name="pgconnectionstring" connectionString="Server=127.0.0.1;Port=5432;UserId=postgres;Password=postgres2018;Database=StarPayAgent;"/>
  </connectionStrings>
  <appSettings>
    <add key="commontable" value="wxbsrecord,wxbsrefundrecord,wxbsonlinerecord,wxbsonlinerefundrecord,WxbsBankAccount,WxbsDevice,WxbsMerchant,WxbsShop,WxbsEnterprise"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
